<div class="container">
  <div class="title">
    <h1>Order History</h1>
  </div>
  <div class="details">
    <div class="receipt">
      <table>
        <tr>
          <th class="quantity">Qty</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr>
          <td valign="top">10</td>
          <td class="description" valign="top">Our Best Fried Chicken</td>
          <td class="price" valign="top"><span>&#8369;</span>100.00</td>
        </tr>
      </table>
    </div>
    <div class="total-container">
      <div class="total-bill">
        <div class="total-title">
          <h3>Total Price</h3>
        </div>
        <div class="total-price">
          <h3><span>&#8369; </span>1000.000</h3>
        </div>
      </div>
    </div>
  </div>
</div>
