<div class="container">
  <div class="clearfix"></div>
  <div class="wrapper" *ngIf="!loading">
    <div class="image">
        <img [src]="imageProduct != '' ? 'https://881be530.ngrok.io' + imageProduct : 'assets/NoPicAvailable.png'"/>
    </div>
    <div class="title">
      <h1>{{name}}</h1>
    </div>
    <div class="description">
      <h3>{{description}}</h3>
    </div>
    <div class="quantity">
      <h3>Quantity</h3>
      <div class="quantity-adjustment">
        <button md-raised-button (click)="subtractQuantity()">-</button>
        <input type="number" [(ngModel)]="quantityProduct" min="1" name="quantityProduct"/>
        <button md-raised-button (click)="addQuantity()">+</button>
      </div>
    </div>
    <div class="options">
      <h3>Options</h3>
      <div class="option-items">
        <md-select
          placeholder="{{productOption.name}}"
          class="items"
          *ngFor="let productOption of productOptions; let i = index;"
          (change)="onChange($event.value, i)">
          <md-option
            *ngFor="let productOptionValue of productOption.product_option_values"
            [value]="productOptionValue">
              <span>{{productOptionValue.value}} - &#8369; {{productOptionValue.price | number : '1.2'}}</span>
          </md-option>
        </md-select>
      </div>
    </div>
    <table class="total">
      <tr class="price">
        <td>
          <h2>Price</h2>
        </td>
        <td>
          <h3><span>&#8369;</span> {{price | number : '1.2'}}</h3>
        </td>
      </tr>
      <tr class="additional-price">
        <td>
          <h2>Additional Price</h2>
        </td>
        <td>
          <h3><span>&#8369;</span> {{additionalPriceProduct | number : '1.2'}}</h3>
        </td>
      </tr>
      <tr class="total-price">
        <td>
          <h2>Total Price</h2>
        </td>
        <td>
          <h3><span>&#8369;</span> {{totalPriceProduct | number : '1.2'}}</h3>
        </td>
      </tr>
    </table>
    <div class="submit">
      <button md-raised-button (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
  <!-- loading -->
  <div class="spinner" *ngIf="loading">
    <svg viewBox="-10 -10 220 220">
      <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z"></path>
    </svg>
  </div>
</div>
