/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: 0px;
  background-color: #fff;
  padding: 0px;
}

simple-snack-bar.mat-simple-snackbar, .mat-snack-bar-container {
  text-align: center;
  justify-content: center;
  font-family: Roboto,sans-serif;
  letter-spacing: 1px;
  opacity: 0.9;
}

.mat-select-underline {
  display: none;
}

/* loading */
@-webkit-keyframes s_rotate1 {
  0% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes s_rotate1 {
  0% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes s_rotate2 {
  0%, 50% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes s_rotate2 {
  0%, 50% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes s_grow {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes s_grow {
  0% {
    stroke-dashoffset: 0;
  }
}
.spinner {
  margin: 50% auto 0px;
  width: 8rem;
  height: 8rem;
  -webkit-animation: s_rotate1 4.5s infinite linear;
          animation: s_rotate1 4.5s infinite linear;
}
.spinner svg {
  -webkit-animation: s_rotate2 2s infinite linear;
          animation: s_rotate2 2s infinite linear;
}
.spinner path {
  fill: none;
  stroke: #3da6ff;
  stroke-width: 10;
  stroke-dasharray: 600;
  stroke-dashoffset: 580;
  -webkit-animation: s_grow 1s alternate infinite linear;
          animation: s_grow 1s alternate infinite linear;
}
