.container {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.clearfix {
  height: 42px;
  clear: both;
}

.wrapper {
  height: 81.4%;
  width: 100%;
  overflow-y: scroll;
}

.category {
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  overflow-y: scroll;
}

.category h3 {
  font-family: Roboto,sans-serif;
  color: #333;
  font-weight: 300;
}

.title h1 {
  text-align: center;
  font-family: Roboto,sans-serif;
  color: #666;
  padding: 10px;
  margin: 0px;
  font-weight: 400;
  background: #F5F5F5;
  letter-spacing: 1px;
}

.title {
  border-bottom: 1px solid #e2e2e2;
}

.wrapper a {
  text-decoration: none;
  -webkit-tap-highlight-color: #fafafa;
}

/* loading */
@-webkit-keyframes s_rotate1 {
  0% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes s_rotate1 {
  0% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes s_rotate2 {
  0%, 50% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes s_rotate2 {
  0%, 50% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes s_grow {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes s_grow {
  0% {
    stroke-dashoffset: 0;
  }
}
.spinner {
  margin: 50% auto 0px;
  width: 8rem;
  height: 8rem;
  -webkit-animation: s_rotate1 4.5s infinite linear;
          animation: s_rotate1 4.5s infinite linear;
}
.spinner svg {
  -webkit-animation: s_rotate2 2s infinite linear;
          animation: s_rotate2 2s infinite linear;
}
.spinner path {
  fill: none;
  stroke: #3da6ff;
  stroke-width: 10;
  stroke-dasharray: 600;
  stroke-dashoffset: 580;
  -webkit-animation: s_grow 1s alternate infinite linear;
          animation: s_grow 1s alternate infinite linear;
}
